{% assign author = site.data.people[include.author] %}
<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <title>{{ author.name }} on {{ site.title | default: site.github.repository_name }}</title>
    {% include meta.html %}
</head>
    <body>
        {% include header.html %}
        <section class="main">
            <div class="wrapper">
                <div class="post">
                    <div class="author">
                        <a href="{{ author.url }}" title="{{ author.name }}"><img class="avi" src="{{ author.img }}"/></a>
                        <h1>{{ author.name }}</h1>
                    </div>
                </div>
                <div class="side">

                </div>
                <div style="clear:both"></div>
            </div>
        </section>
        {% include footer.html %}
    </body>
</html>
