{% assign author = site.data.people[include.author] %}
<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <title>{{ author.name }} on {{ site.title | default: site.github.repository_name }}</title>
    {% include meta.html %}
</head>
    <body>
        {% include header.html %}
        <section class="main">
            <div class="wrapper">
                <div class="side">
                    <div class="author">
                        <a href="{{ author.url }}" title="{{ author.name }}"><img class="avi" src="{{ author.img }}"/></a>
                        <h2>{{ author.name }}</h2>
                        <p>{{ author.bio }}</p>
                        <p><a href="{{ author.url }}">{{ author.url }}</a></p>
                    </div>
                </div>
                <div class="post">
                    {% for post in site.posts %}
                        {% if post.author == include.author %}
                            {% include summary.html post=post %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div style="clear:both"></div>
            </div>
        </section>
        {% include footer.html %}
    </body>
</html>
