---
---

@import "{{ site.theme }}";

/* Variables */
$black:						#222;
$gray:						#ccc;
$light:						#ffebee;
$light-gray:				#f8f8f8;
$red:						#d32e2d;

$shadow-2dp:				0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
$shadow-8dp:				0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
$shadow-16dp:				0 8px 10px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12);

/* Elements */
a							{color:$red;text-decoration:none;}
a:hover, a:focus			{color:$black;font-weight:400;}
a small						{color:$red;display:block;font-size:0.7em;margin:0;}
a:hover small				{color:$black;}
blockquote					{border-left:2px solid $red;font-style:italic;margin:0;padding:0 0 0 1.5rem;}
body						{background:none;color:$black;font:16px "Lora", serif;font-weight:400;margin:0;padding:0;}
code, pre					{color:$black;font-family:monospace;font-size:1rem;}
dt							{color:$black;font-weight:700;}
footer						{background:$red;bottom:0;color:$light;float:none;height:100px;position:relative;width:100%;
	a						{color:$light;text-decoration:underline;}
	a:hover					{color:$light;}
	.wrapper				{padding-top:1rem;}}
h1, h2, h3, h4, h5, h6		{color:$black;font-family:"Roboto",sans-serif;font-weight:900;margin:0 0 1.5rem;}
h1, h2, h3					{line-height:1.1;}
h1							{font-size:2.5em;}
header						{background:none;/*background:$red;*/color:$light;float:none;left:0;min-height:150px;position:relative;top:0;width:100%;
	a						{color:$light;text-decoration:underline;}
	a:hover					{color:$light;}}
hr							{background:$black;border:0;height:1px;margin:0 0 2rem;}
html						{background:white;font-size:16px;min-width:200px;}
img							{max-width:100%;}
p, ul, ol, table, pre, dl	{line-height:2.2rem;margin:0 0 1.5rem;}
pre							{background:$light;border:0;border-radius:0;padding:8px 15px;overflow-x:auto;}
section						{float:none;padding-bottom:0;width:auto;}
section.nav					{background:none;height:36px;margin-bottom:5px;width:100%;z-index:1600;
	li						{border:0;float:left;height:auto;width:33%;}
	li a					{border-radius:0;}
	li:first-child a		{border-radius:0;}
	li:last-child a			{border-radius:0;}
	ul						{background:none;border:0;border-radius:0;height:auto;list-style:none;margin:0;padding:0;width:auto;}
	ul a					{/*background:white;*/color:$red;display:block;font-size:1rem;font-weight:400;height:auto;line-height:1;padding:0.75rem 1rem;text-align:center;text-decoration:none;}
	ul a:active				{/*background:white;*/}
	ul a:hover,
	ul a:focus				{border-bottom:0.25rem solid $red;font-weight:400;padding-bottom:0.5rem;text-decoration:none;}
	ul a strong				{color:$black;display:block;font-size:1rem;}
	.wrapper				{width:300px;}}
section.main				{min-height:calc(100vh - 250px - 3.5rem);}
small						{font-size:0.8em;}
strong						{color:#222;font-weight:700;}
table						{border-collapse:collapse;width:100%;}
th, td						{color:$black;border-bottom:1px solid #ddd;padding:5px 10px;text-align:left;}

/* Layout */
.author						{background:white;box-shadow:$shadow-2dp;margin-bottom:1rem;padding:1rem;
	img.avi,h2				{margin-bottom:0.5rem;}}
.article-byline				{margin:-1rem 0 2rem 0;}
.article-image				{height:calc(100vh - 190px);left:0;position:absolute;top:190px;width:100%;}
.article-content			{background:white;float:left;margin-bottom:2rem;margin-top:calc(50vh - 190px);padding:1rem;text-align:justify;
	p:last-child			{margin:0;}}
.logo						{height:calc(150px - 2rem);margin:1rem 2rem 0 calc(50% - 125px);}
.page-content				{background:white;float:left;margin-bottom:2rem;padding:1rem;text-align:justify;}
.side						{float:right;width:250px;}
.summary					{
	a						{color:$black;}
	.byline					{margin-bottom:1rem;}
	.byline a				{color:$red}}
.wrapper					{margin:0 auto;position:relative;width:860px;}

/* @media */
@media print, screen and (max-width: 960px){
	div.wrapper				{margin:0 1rem;width:auto;}
	header					{padding-right:0 !important;position:relative;width:100%;
		a small				{display:inline;}
		ul					{position:absolute;right:50px;top:52px;}}
	section,
	footer					{position:static;width:auto;}
	section					{border:0;margin:0;padding:0;}
	.post,.side				{float:none;width:auto;}
	header .wrapper,
	.nav .wrapper			{margin:auto;}
}
@media print, screen and (max-width: 720px){
	body					{word-wrap:break-word;}
	header					{padding:0;
		ul, p.view			{position:static;}}
	pre, code				{word-wrap:normal;}
}
@media print, screen and (max-width: 480px){
	html					{background:white;}
	body					{padding:0;}
	section.nav				{box-shadow:none;position:static;width:100%;
		li					{width:33%;}
		ul a				{text-align:center;}
		.wrapper			{width:100%;}}
	section.main			{margin-top:2.5rem;}
	.author					{border-bottom:1px solid $red;box-shadow:none;padding:0;}
	.post					{box-shadow:none;padding:0;text-align:left;}
	.avi,.logo				{height:auto;margin:1rem 0;width:100%;}
}
@media print {
	html					{background:white;}
	body					{color:$black;font-size:12pt;padding:0.4in 0;}
	header, footer			{display:none;}
	.post					{box-shadow:none;padding:0;}
}
