<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <title>{{ site.title | default: site.github.repository_name }}</title>
    {% include meta.html %}
</head>
    <body>
        {% include header.html %}
        <section class="main">
            <div class="wrapper">
                <div class="post">
                    {{ content }}
                </div>
                <div class="side">
                    <img alt="Issue 001" src="/assets/img/iss 001.png"/>
                    <b>Issue 001 Coming Q3 2017</b>
                </div>
            </div>
        </section>
        {% include footer.html %}
    </body>
</html>
