<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <title>{{ site.title | default: site.github.repository_name }}</title>
    {% include meta.html %}
</head>
    <body>
        {% include header.html %}
        <section class="main article">
            <div class="wrapper article-wrapper">
                <div class="article-content">
                    {{ content }}
                </div>
                <div class="side">

                </div>
                <div style="clear:both"></div>
            </div>
        </section>
        {% include footer.html %}
    </body>
</html>
